:root {
    --black: #42446E;
    --blue: #00C0FD;
    --pink: #E70FAA;
    --gray: #666666;
}

@font-face {
    font-family: FiraCode;
    src: url(../assets/FiraCode-VariableFont_wght.ttf);
}

@font-face {
    font-family: DMSans;
    src: url(../assets/DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../assets/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-light;
    src: url(../assets/Poppins-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
            list-style-type: none;
        text-decoration: none;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 400px;
    grid-template-areas: 
                          "navbar"
                          "home-info";
                          gap: 70px;
}

/* navigation bar */

.navbar {
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* logo */

.menu-top {
    display: flex;
    width: 100%;
    align-items: center;

    & .logo {
        opacity: 0.9;
        padding: 20px 0px 0px 20px;
    }

    & .logo-btm {
        font-size: 12px;
        padding-left: 5.5px;
    }

    & .logo a {
        font-family: FiraCode;
        font-weight: 700;
        background-image: linear-gradient(280deg, var(--pink),var(--blue));
        background-clip: text;
        color: transparent;
    }

/* hamburger */

& .hamburger {
    height: 22px;
    margin-left: auto;
    margin-right: 13px;
    margin-top: 20px;
    filter: brightness(0) saturate(100%) invert(26%) sepia(12%) saturate(1798%) hue-rotate(199deg) brightness(97%) contrast(93%);
}

}

/* Pages */

.menu-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

    & .links {
        font-family: DMSans;
        color: var(--gray);
        font-weight: 600;
        font-size: 13px;
    }
}


/* Socials */

.menu-btm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;;
    height: 80px;

    &  .socialicons img {
filter: brightness(0) saturate(100%) invert(36%) sepia(0%) saturate(2759%) hue-rotate(136deg) brightness(100%) contrast(72%);
}
}


/* Home Information / Main content */

.home-info {
    grid-area: home-info;
    margin: 20px 0px 0px 20px;
}

.home-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.main-text {
    font-size: 21px;
    font-family: Poppins;
    font-weight: 600;
    color: var(--black);
}

.text-name{
    background-image: linear-gradient(179deg, var(--blue), var(--pink));
    background-clip: text;
    color: transparent;
}


.portrait {
    width: 200px;
    border: 0px double black;
    padding: 0.3rem;
    border-radius: 300px;
    background-image: linear-gradient(160deg, #13B0F5, #E70FAA);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

